@layer reset, global, conponents, overrides;

@import url("./reset.css") layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@layer global {
  html {
    font-family: "Cabin", sans-serif;
  }

  :root {
    --Primary-01: rgba(255, 204, 74, 1);
    --Primary-02: rgba(78, 175, 78, 1);
    --Primary-03: rgba(24, 24, 24, 1);
    --Primary-04: rgba(245, 245, 245, 1);
    --Primary-05: rgba(255, 255, 255, 1);
  }

  :root {
    --step--1: clamp(0rem, -0.5247rem + 2.575vw, 1.4066rem);
    --step-0: clamp(0rem, -0.6994rem + 3.4325vw, 1.875rem);
    --step-1: clamp(0rem, -0.9323rem + 4.5755vw, 2.4994rem);
    --step-2: clamp(0rem, -1.2427rem + 6.0992vw, 3.3317rem);
    --step-3: clamp(0rem, -1.6565rem + 8.1302vw, 4.4411rem);
    --step-4: clamp(0rem, -2.2081rem + 10.8375vw, 5.92rem);
    --step-5: clamp(0rem, -2.9435rem + 14.4464vw, 7.8914rem);
  }
}
