@layer reset, global, conponents, overrides;

@import url("./reset.css") layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@layer global {
  html {
    font-family: "Cabin", sans-serif;
  }

  :root {
    --Primary-01: rgba(255, 204, 74, 1);
    --Primary-02: rgba(78, 175, 78, 1);
    --Primary-03: rgba(24, 24, 24, 1);
    --Primary-04: rgba(245, 245, 245, 1);
    --Primary-05: rgba(255, 255, 255, 1);
  }

  :root {
    --step--1: clamp(0.3rem, -0.4625rem + 3.7425vw, 2.3443rem);
    --step-0: clamp(0.375rem, -0.6507rem + 5.0343vw, 3.125rem);
    --step-1: clamp(0.4688rem, -0.9102rem + 6.7677vw, 4.1656rem);
    --step-2: clamp(0.5859rem, -1.2667rem + 9.0926vw, 5.5528rem);
    --step-3: clamp(0.7324rem, -1.7553rem + 12.2095vw, 7.4019rem);
    --step-4: clamp(0.9155rem, -2.4232rem + 16.3865vw, 9.8667rem);
    --step-5: clamp(1.1444rem, -3.3345rem + 21.9824vw, 13.1523rem);
  }
}
