@layer reset, global, conponents, overrides;

@import url("./reset.css") layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@layer global {
  html {
    font-family: "Cabin", sans-serif;
  }

  :root {
    --Primary-01: rgba(255, 204, 74, 1);
    --Primary-02: rgba(78, 175, 78, 1);
    --Primary-03: rgba(24, 24, 24, 1);
    --Primary-04: rgba(245, 245, 245, 1);
    --Primary-05: rgba(255, 255, 255, 1);
  }

  :root {
    --step--1: clamp(0.4rem, 0.1295rem + 1.3277vw, 1.1253rem);
    --step-0: clamp(0.5rem, 0.127rem + 1.8307vw, 1.5rem);
    --step-1: clamp(0.625rem, 0.1123rem + 2.5162vw, 1.9995rem);
    --step-2: clamp(0.7813rem, 0.0785rem + 3.4491vw, 2.6653rem);
    --step-3: clamp(0.9766rem, 0.0156rem + 4.7164vw, 3.5529rem);
    --step-4: clamp(1.2207rem, -0.0905rem + 6.4353vw, 4.736rem);
    --step-5: clamp(1.5259rem, -0.2597rem + 8.7638vw, 6.3131rem);
  }

  :root {
    --square-pattern: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220%200%2024%2024%22 fill=%22red%22%3E%3Cpath d=%22M7.47662%204.02206C6.50635%203.05178%205.53232%202.07774%204.56205%201.10745C4.28482%200.83023%203.80905%200.83023%203.53183%201.10745C2.56155%202.07774%201.59128%203.04803%200.621002%204.02206C0.343781%204.29929%200.343781%204.77506%200.621002%205.05229C1.59128%206.02258%202.5653%206.99661%203.53558%207.9669C3.8128%208.24412%204.28857%208.24412%204.56579%207.9669C5.53607%206.99661%206.51009%206.02258%207.48037%205.05229C7.63022%204.90244%207.69016%204.73011%207.69016%204.56527C7.69016%204.55403%207.69016%204.54654%207.69016%204.5353C7.69016%204.52781%207.69016%204.51657%207.69016%204.50908C7.69016%204.34424%207.63022%204.17191%207.47662%204.02206ZM4.04881%206.41968C3.41944%205.79031%202.79382%205.16468%202.16445%204.5353C2.79382%203.90593%203.41944%203.2803%204.04881%202.65092C4.67818%203.2803%205.3038%203.90593%205.93317%204.5353C5.3038%205.16468%204.67818%205.79031%204.04881%206.41968Z%22/%3E%3C/svg%3E");
    --square-count: 12;
    --square-size: 1.34rem;
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
  }

  :root {
    --square-pattern-1: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220%200%2024%2024%22 fill=%22red%22%3E%3Cpath d=%22M7.47662%204.02206C6.50635%203.05178%205.53232%202.07774%204.56205%201.10745C4.28482%200.83023%203.80905%200.83023%203.53183%201.10745C2.56155%202.07774%201.59128%203.04803%200.621002%204.02206C0.343781%204.29929%200.343781%204.77506%200.621002%205.05229C1.59128%206.02258%202.5653%206.99661%203.53558%207.9669C3.8128%208.24412%204.28857%208.24412%204.56579%207.9669C5.53607%206.99661%206.51009%206.02258%207.48037%205.05229C7.63022%204.90244%207.69016%204.73011%207.69016%204.56527C7.69016%204.55403%207.69016%204.54654%207.69016%204.5353C7.69016%204.52781%207.69016%204.51657%207.69016%204.50908C7.69016%204.34424%207.63022%204.17191%207.47662%204.02206ZM4.04881%206.41968C3.41944%205.79031%202.79382%205.16468%202.16445%204.5353C2.79382%203.90593%203.41944%203.2803%204.04881%202.65092C4.67818%203.2803%205.3038%203.90593%205.93317%204.5353C5.3038%205.16468%204.67818%205.79031%204.04881%206.41968Z%22/%3E%3C/svg%3E");
    --square-count-1: 10;
    --square-size-1: 1rem;
    --_square-size-1: var(--square-size-1, 1rem);
    --_square-half-1: calc(var(--square-size-1) / 2);
    --_square-sum-1: calc(var(--square-count-1) * var(--square-size-1));
  }

  :root {
    --square-pattern-2: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220%200%2024%2024%22 fill=%22red%22%3E%3Cpath d=%22M7.47662%204.02206C6.50635%203.05178%205.53232%202.07774%204.56205%201.10745C4.28482%200.83023%203.80905%200.83023%203.53183%201.10745C2.56155%202.07774%201.59128%203.04803%200.621002%204.02206C0.343781%204.29929%200.343781%204.77506%200.621002%205.05229C1.59128%206.02258%202.5653%206.99661%203.53558%207.9669C3.8128%208.24412%204.28857%208.24412%204.56579%207.9669C5.53607%206.99661%206.51009%206.02258%207.48037%205.05229C7.63022%204.90244%207.69016%204.73011%207.69016%204.56527C7.69016%204.55403%207.69016%204.54654%207.69016%204.5353C7.69016%204.52781%207.69016%204.51657%207.69016%204.50908C7.69016%204.34424%207.63022%204.17191%207.47662%204.02206ZM4.04881%206.41968C3.41944%205.79031%202.79382%205.16468%202.16445%204.5353C2.79382%203.90593%203.41944%203.2803%204.04881%202.65092C4.67818%203.2803%205.3038%203.90593%205.93317%204.5353C5.3038%205.16468%204.67818%205.79031%204.04881%206.41968Z%22/%3E%3C/svg%3E");
    --square-count-2: 5;
    --square-size-2: 1rem;
    --_square-size-2: var(--square-size-2, 1rem);
    --_square-half-2: calc(var(--square-size-2) / 2);
    --_square-sum-2: calc(var(--square-count-2) * var(--square-size-2));
  }

  :root {
    --margin-left: 11rem;
    --fluid: clamp(4.375rem, 1.9039rem + 12.1281vw, 11rem);
  }

  :root {
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5392rem + 0.1144vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8517rem + 0.1144vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0784rem + 0.2288vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6176rem + 0.3432vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.1568rem + 0.4577vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2351rem + 0.6865vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3135rem + 0.9153vw, 5rem);
    --space-3xl: clamp(11.25rem, 10.7838rem + 2.2883vw, 12.5rem);
  }
}
