---
/*
import EmployeeCard from "./EmployeeCard.astro";

const { data, them = "light"} = Astro.props;
---

<section data-theme={theme}>
{data.map((employee) => <EmployeeCard {employee} />)}

</section>
*/