---
import "../styles/global.css";
---
<body>
<div class="footer">
    <div class="container">
        <h1>AskExperts</h1>
    </div>
    <hr>
    <div class="container-1">
<h2>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</h2>
    </div>
</div>
</body>


<style>  
body{
    background-color: var(--Primary-03);
    display: grid;
  grid-template-rows: auto 1fr auto ;
  grid-template-columns:
    [full-start] 1fr [content-start] minmax(0, 0.65ch) [content-end] 1fr [full-end];
}

 hr {
        border: none;
        height: 2px;
        background-color: var(--Primary-05);
        width: 55%; 
    }

.container, .container-1 {
    display: flex;
    justify-content: space-around;
    padding: 2% 0 0 0 ;

    h1{
        font-size: var(--step-0);
    }

     h2{
        font-size: var(--step--1);
        text-align: center;
    }
}

.footer{
    background-color: var(--Primary-03);
    color: var(--Primary-05);
    grid-column: full;
  
  > * {
    grid-column: content;
  }
}


.full-bleed {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;
  
  > * {
    grid-column: content;
  }
  
}

* {
  box-sizing: border-box;
}

