---

---
<body>
    <div class="header">

        <hr>
    </div>


</body>

<style>
 hr {
        border: none;
        height: 2px;
        background-color: black;
        width: 50%; /* Gør linjen halvt så bred som siden */
    }

.container {
    display: flex;
    justify-content: space-around;
}

</style>
