---
import "../styles/global.css";
---
<body>
    <div class="forside">
        <div class="container">
            <h1>Adam Buschemia Business Consultant</h1>
            <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
            <button>Book a Meeting</button>
        </div>
    <img class="bil" src="/sarah.jpg" alt="Et billedet af Sarah på forsiden">
    </div>
</body>

<style>
.forside {
    display: grid;
    grid-area: 1 /1;
}


</style>