---
import "../styles/global.css";
---

<body>
    <div class="box-container">
        <div class="box-1">
            <h2>Finance & Restructuring</h2>
            <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
       <button>Our Services</button>
        </div>
        <div class="box-2">
            <h2>Our Approach</h2>
            <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
       <button>More About</button>
        </div>
        <div class="box-3">
            <h2>Consultalk Result</h2>
            <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
       <button>Explore Our Solution</button>
        </div>
    </div>
</body>
<style>
.box-container{
    color: var(--Primary-05); 
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: var(--fluid);
    margin-right: var(--fluid);

    .box-1{
        color: var(--Primary-05); 
        background-color: var(--Primary-03);
        filter: brightness(1.5);
        border-radius: 30px;
        text-align: left; 
            border: none; 
            padding: 10%;

        h2{
            font-size: var(--step-0);
        }

        p{
            font-size: var(--step--1);
        }

        button{
            
        }
    }
}

</style>